*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;

  
}
.destinations{
  width: auto;
  margin: 30;
  text-align: center;
  
}
.destination-col {
    flex: 1;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px; /* Set a maximum width for the column */
    height: 500pxpx; /* Set a fixed height for the column */
    border-radius: 10px;
  }

  .card {
    padding: 50px;
    margin: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    max-width: 500px; /* Ensure card occupies the full width of .destination-col */
    height: 500pxpx; /* Set a fixed height for the card */
  }
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .destination-col:hover{
    box-shadow: 0 0 20px 0px rgb(20, 14, 77);
    }
    @media(max-width:767px)
    { 
        .row {
    flex-direction: column;
    }
    .destination-col{
        flex-basis: 100%;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .card{
        padding: 15px;
    }
    
} 
@media (hover: hover) and (pointer: fine) {
    .destination-col:hover {
      box-shadow: 0 0 20px 0px rgb(20, 14, 77);
    }
  }
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px ; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: rgb(20, 14, 77);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: black;
    color: white;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
  }
  .home{
    width: auto;
    text-align: left;
    padding: 30px 30px 30px 30px;
    background: rgb(20, 14, 77);
    border-radius: 5px 5px 5px 5px;
  
}
.home h4{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.home ul {
    color: white;
    font-family: sans-serif;
    padding: 30px;
}
.home ul li{
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

.home p{
    padding: 0;
    color:rgb(243, 238, 238);
}

.footer{
    text-align: left;
    padding:  30px;
    background: rgb(20, 14, 77);
    margin-right:16px;
    margin-left:16px;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.footer p{
    color: white;
    text-align: center;
}

 