*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;

    
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
a:active {
  color: rgb(243, 243, 249);
  background-color: rgb(20, 14, 77);
  text-decoration: underline;
}
.previous {
    background-color: rgb(20, 14, 77);
    color: rgb(245, 239, 239);
  }
.next {
    background-color: rgb(20, 14, 77);
    color: rgb(245, 239, 239);
  }
.round {
    border-radius: 50%;
  }
#link{
  background-color: rgb(20, 14, 77);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-top: 50px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(9, 6, 12);
    padding: 14px 34px;
    font-size: 13px;
    border-radius: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(5968949.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
}
.destinations{
    width: auto;
    margin: 30;
    text-align: center;
    
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.row{
    margin-top: 5%;
    display: column;
    border-radius: 10px;
    justify-content: space-between;
}
p{
    color: rgb(3, 17, 17);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
    text-align: left;
}

.image {
  max-width: 800px; /* Ensure the image doesn't exceed its container's width */
  height: 120px;   /* Maintain the aspect ratio of the image */ /* Ensure the image doesn't have extra space below it */
  margin: 0 auto; /* Center the image horizontally within its container */
  border: 1px solid #ccc; /* Add a border around the image */
  border-radius: 5px;     /* Add rounded corners to the image */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
.destination-col{
    flex-basis: 31%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
@media(max-width:767px){
    .row{
        width: 100%;
        
    }
}




