.card {
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .bar-chart {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 300x;
  }

  .bar {
    width: 60px;
    background-color: rgb(20, 14, 77);
    text-align: center;
    font-size: 10px;
    color: white;
    transition: height 0.5s;
    display: flex;
    text-overflow: none;
    text-shadow: black 1px 0 10px;
    justify-content: center;
    align-items: flex-end;
  }

  .x-axis {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
    font-size: 18px;

    color: rgb(20, 14, 77);
  }

  .y-axis {
    transform: rotate(-90deg);
    text-align: left;
    margin-left: -50px;
    font-size: 12px;
    color: #333;
  }
  @media only screen and (max-width: 768px) {
    .card {
      width: 100%;
    }

    .bar {
      width: 40px;
    }

    .bar-container {
      width: 80px;
    }

    .x-axis {
      font-size: 14px;
    }

    .y-axis {
      margin-left: -40px;
    }
  }
 
 